<div class="container">
    <h1 class="title">{{type}}</h1>
    <mat-card class="card-picture">
        <img mat-card-image src="#">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%"></span>
        </mat-card-title>
    </mat-card>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center"
        class="row-height">
        <mat-card class="card-picture" *ngFor="let subtype of subtypes">
            <img mat-card-image src="#">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <span fxFlex="80%">{{subtype.title}}</span>
            </mat-card-title>
        </mat-card>
    </div>
</div>