<div class="banner">
    
</div>
<div class="content">
    <p><span class="logo-font">Yoga me</span> is a project that comes up after a few years of practicing yoga as an amateur.
        Pile of classes listening carefully to many yoga teachers that in each class bring you peace and quietness.
        <br>There is a time that you listen to yourself and you wonder: would I be able to transmit this peace? Would I be
        able to make people's bodies feel relaxed?
        <br>And there is one day that you feel the boost you needed to start learning yoga as a teacher to be able to spread good vibes with 
        this lovely practice. 
        <br>Practicing yoga is a habit that brings to people's life brightness and peace. Freeing your mind while
        strengthing your body, what else can you wish?
        <br>Namaste.
    </p>
</div>