<div>
    <mat-card *ngIf="!isCodeVerified" class="card">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="card-header">Registration Form</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
                <!-- <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="First Name" type="text" formControlName="firstname"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                            <mat-icon matSuffix class="icons mr-icons">person</mat-icon>
                    </mat-form-field>                   
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Last Name" type="text" formControlName="lastname"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                            <mat-icon matSuffix class="icons mr-icons">person</mat-icon>
                    </mat-form-field>                   
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                <mat-form-field class="form-field">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" 
                    [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" >
                    <mat-datepicker-toggle matSuffix [for]="picker" class="icons" id="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
            </div>                  
            <div class="form-group" fxLayoutAlign="center center">              
                <mat-form-field class="form-field">
                    <mat-label>Address</mat-label>
                    <input matInput type="text" formControlName="address"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                    <mat-icon matSuffix class="icons mr-icons">place</mat-icon>
                    </mat-form-field>                   
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="City" type="text" formControlName="city"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                            <mat-icon matSuffix class="icons mr-icons">location_city</mat-icon>
                    </mat-form-field>                    
                </div> -->
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Email" type="email" formControlName="email"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <mat-icon matSuffix class="icons mr-icons">email</mat-icon>
                            <mat-error *ngIf="submitted && f.email.errors">
                                Please enter a valid email address
                              </mat-error>
                              <mat-error *ngIf="signUpForm.hasError('required')">
                                Email is <strong>required</strong>
                              </mat-error>
                    </mat-form-field>                   
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Confirm Email" type="email" formControlName="confirmEmail"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }" />
                            <mat-icon matSuffix class="icons mr-icons"> email</mat-icon>
                    </mat-form-field>                  
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="icons mr-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                    </mat-form-field>                 
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Confirm Password" [type]="confirmEmailHide ? 'password' : 'text'" formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <button mat-icon-button type="button" matSuffix (click)="confirmEmailHide = !confirmEmailHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="icons mr-icons">{{confirmEmailHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                    </mat-form-field>                   
                </div>
                <div class="signup-btn">
                    <button mat-raised-button color="primary" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border"></span>
                        Sign up
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isCodeVerified" class="card">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="card-header">Verification Code Form</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
        <form [formGroup]="verifyCodeForm" (ngSubmit)="onSubmitCode()" fxLayout="column" fxLayoutAlign="center center">
            <div class="form-group" fxLayoutAlign="center center">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Email" type="text" formControlName="email"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && fcode.email.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">email</mat-icon>
                        <mat-error *ngIf="submitted && fcode.email.errors">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="verifyCodeForm.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                </mat-form-field>                   
            </div>
            <div class="form-group" fxLayoutAlign="center center">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Verification Code" type="text" formControlName="verificationCode"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && fcode.verificationCode.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">vpn_key</mat-icon>                        
                </mat-form-field>                   
            </div>
            <div class="code-btn">
                <button mat-raised-button color="primary" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border"></span>
                    Verify Code
                </button>
            </div>
            <div *ngIf="codeError" class="alert alert-danger mt-3 mb-0">{{codeError}}</div>
        </form>
        </mat-card-content>
    </mat-card>
</div>