.card {
    width: 400px;
    margin: 2% auto;
  }
  .error-icon{
    color: red;
    font-size: 14px;
}
.signup-btn{
    margin-top: 10px;
}
.icons{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.form-group{
  width: 100%;
}
.form-field{
  width: 80%;
}
.mr-icons{
  margin-right: 4px;
}
