<div class="ice-cold-gradient full-wd" *ngIf="alreadyMember && !justRegistered" fxLayoutAlign="center center">
    <div class="text-wrapper">    
    <h1><span class="font-big">Sorry!</span>
        <br>You already have an active membership. 
        <br>Enjoy your membership! 
       <br>Then you can dive into new experience with
       <br><span class="font-big logo-font">Yoga me</span>
   </h1>
</div>
</div>
<div class="ice-cold-gradient full-wd" *ngIf="justRegistered" fxLayoutAlign="center center">
    <div class="text-wrapper">    
    <h1><span class="font-big">Congratulations!</span>
        <br>You have just registered 
        <br>for {{membership.period}} of {{membership.classType}} 
       <br><span class="font-big">Welcome on <span class="logo-font">Yoga me!</span></span>
   </h1>
</div>
</div>
<div class="ice-cold-gradient" fxLayoutAlign="center" *ngIf="!alreadyMember">
    <div class="text-wrapper">
    <h1 fxLayoutAlign="center">You are one step closer from enjoying a relaxing course of {{membership.classType}}
         <br>for the duration of {{membership.period}} 
         <br>at an amazing price of only {{membership.price}}€!
        <br>Hurry up!
    </h1>    
</div>
</div>
<div *ngIf="!alreadyMember">
    <mat-card class="card">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title class="card-head">Membership Form</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
            <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="First Name" type="text" formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">person</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Last Name" type="text" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">person</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob"
                            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="icons dob-icon" id="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" formControlName="address"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">place</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group" fxLayoutAlign="center center">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="City" type="text" formControlName="city"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <mat-icon matSuffix class="icons mr-icons">location_city</mat-icon>
                    </mat-form-field>
                </div>
                <div class="signup-btn">
                    <button mat-raised-button color="primary" [disabled]="(spinnerService.loading$ | async)">
                        <span *ngIf="(spinnerService.loading$ | async)" class="spinner-border"></span>
                        Checkout
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </mat-card-content>
    </mat-card>
</div>