<ngb-carousel
    #carousel
    [showNavigationArrows]="true" 
    [showNavigationIndicators]="true"
    interval="4000"
    [keyboard]="true"
    [wrap]="true"
    [pauseOnHover]="false">
    <ng-template *ngFor="let item of images" ngbSlide >
        <div class="full-wd tile" [style.background]="'url(' + item.img + ')'">        
        <div class="carousel-caption">
            <p class="quote">{{item.text}}</p>
            <p class="author">{{item.author}}</p>
        </div>
    </div>
    </ng-template>    
</ngb-carousel>
