
.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 30%;
    margin-bottom: 2%;
  }
  .clickable{
    cursor: pointer;
  }
  
  .row-height{
      height: 80vh;
  }
  .title{
    text-align: center;
    margin-top: 3%;
    font-size: 2.5em;
    color: teal;
  }
  .card-title-font{
    font-size: 1.5em;
  }
  
       