
.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .clickable{
    cursor: pointer;
  }
  
  .row-height{
      height: 80vh;
  }
  .title{
    text-align: center;
    margin-top: 1%;
    font-size: xx-large;
  }
       