<div class="container">
    <h1 class="title">Classes</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center"
        class="row-height">
        <mat-card class="card-picture" *ngFor="let card of cards">
            <mat-card-content [routerLink]="[card.link]">
                <img mat-card-image [src]="card.imageUrl">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="80%">{{card.title}}</span>
                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>
</div>
