<div class="container">
    <h1 class="title">Classes</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="space-around center" class="row-height">
        <mat-card class="card-picture clickable" *ngFor="let card of classesService.classesList$ | async"
            [routerLink]="[card.title.toLowerCase()]">
            <img mat-card-image [src]="card.imageUrl">
            <mat-card-subtitle fxLayout.gt-xs="row" fxLayout.xs="column">
                <span fxFlex="80%" class="card-title-font">{{card.title}}</span>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
<app-spinner [show]="loading"></app-spinner>